<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FriendHub</title>
    <link rel="stylesheet" href="styles.css"><script src="https://kit.fontawesome.com/8becd3a18f.js" crossorigin="anonymous"></script>
    

</head>
<body>

    <nav>
        <div class="nav-left">
            <img src="assets/friendhublogos.png" class="logo">
            <ul>
                <li><img src="assets/notification.png"></li>
                <li><img src="assets/inbox.png"></li>
                <li><img src="assets/video.png"></li>
            </ul>
        </div>
        <div class="nav-right">
            
            <div class="search-box">
                <img src="assets/search.png">
                <input type="text" placeholder="search">
            </div>
            <a href="/profile.ejs">
            <div class="nav-user-icon online">
                <img src="assets/profile-pic.jpg">
            </a>
            </div>

        </div>
    </nav>
    
    <div class="container">
        <!---- left sidebar-------->
        <div class="left-sidebar">
            <div class="imp-links">
                <a href="#"><img src="assets/news.png"> Latest News</a>
                <a href="#"><img src="assets/friends.png"> Friends</a>
                <a href="#"><img src="assets/group.png"> Group</a>
                <a href="#"><img src="assets/marketplace.png"> Marketplace</a>
                <a href="#"><img src="assets/watch.png"> Watch</a>
                <a href="#">See More</a>
            </div>
            <div class="shortcut-links">
                <p>Your Shortcuts</p>
                <a href="#"><img src="assets/shortcut-1.jpg"> Web Developers</a>
                <a href="#"><img src="assets/shortcut-2.jpg"> Web Design Course</a>
                <a href="#"><img src="assets/shortcut-3.jpg"> Full Stack Development</a>
                <a href="#"><img src="assets/shortcut-4.jpg"> Website Experts</a>
            </div>
        </div>
        
        <!-----main-content-------->
        <div class="main-content">
            
            <div class="story-gallery">
                <div class="story story1">
                    <img src="assets/upload.png">
                    <p>Post Story</p>
                </div>
                <div class="story story2">
                    <img src="assets/member2.jpg">
                    <p>Angel</p>
                </div>
                <div class="story story3">
                    <img src="assets/member3.jpg">
                    <p>Jam</p>
                </div>
                <div class="story story4">
                    <img src="assets/member4.jpg">
                    <p>Marvin</p>
                </div>
                <div class="story story5">
                    <img src="assets/member5.jpg">
                    <p>Aiza</p>
                </div>
            </div>
            <div class="write-post-container">
                <div class="user-profile">
                    <img src="assets/profile-pic.jpg">
                    <div>
                        <p>John Nicholson</p>
                        <small>Public</small>
                    </div>
                </div>
            </div>

          <!--  <div class="story-gallery">
                
            </div>
            <div class="story-gallery">
                
            </div>
            <div class="story-gallery">
                
            </div>
            <div class="story-gallery">
                
            </div> -->
        </div> 
        
        <!-----right-sidebar-------->
        <div class="right-sidebar">

            <div class="sidebar-title">
                <h4>Events</h4>
                <a href="#">See All</a>
            </div>

            <div class="event">
            <div class="left-event">
                <h3>18</h3>
                <span>March</span>
            </div>
            <div class="right-event"></div>
                <h4>Social Media <p>BGC Technohub</p>
                <a href="#">More Info</a>
            </h4>
            </div>

            <div class="event">
                <div class="left-event">
                    <h3>25</h3>
                    <span>September</span>
                </div>
                <div class="right-event"></div>
                    <h4>Mobile Marketing
                    <p>BGC Technohub</p>
                    <a href="#">More Info</a>
                </h4>
                </div>
                <div class="sidebar-ads">
                    <h4>Advertisement<a href="#">Close</a></h4>
                    <img src="assets/advertisement.jpg">
                </div>
            <!--   <div class="sidebar-ads2">
                    <h4>Conversation <a href="#">Hide Chat</a></h4>    
                </div>
    
                <div class="online-list">
                    <div class="online">
                        <img src="assets/member2.jpg">
                    </div>
                    <p>Angel Pre</p>    
                </div>
                <div class="online-list">
                    <div class="online">
                        <img src="assets/member3.jpg">
                    </div>
                    <p>Aiza Cruz</p>    
                </div>
                <div class="online-list">
                    <div class="online">
                        <img src="assets/member4.jpg">
                    </div>
                    <p>christian Santos</p>    
                </div> -->
            </div> 
    </div>
    
</body>
</html>
