<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FriendHub</title>
    <link rel="stylesheet" href="styles.css"><script src="https://kit.fontawesome.com/8becd3a18f.js" crossorigin="anonymous"></script>

</head>
<body>

    <nav>
        <div class="nav-left">
            <img src="images/friendhublogos.png" class="logo">
            <ul>
                <li><img src="images/notification.png"></li>
                <li><img src="images/inbox.png"></li>
                <li><img src="images/video.png"></li>
            </ul>
        </div>
        <div class="nav-right">
            
            <div class="search-box">
                <img src="images/search.png">
                <input type="text" placeholder="search">
            </div>
            <div class="nav-user-icon online">
                <img src="images/profile-pic.jpg">

            </div>

        </div>
    </nav>
    
    <div class="container">
        <!---- left sidebar-------->
        <div class="left-sidebar">
            <div class="imp-links">
                <a href="#"><img src="images/news.png"> Latest News</a>
                <a href="#"><img src="images/friends.png"> Friends</a>
                <a href="#"><img src="images/group.png"> Group</a>
                <a href="#"><img src="images/marketplace.png"> Marketplace</a>
                <a href="#"><img src="images/watch.png"> Watch</a>
                <a href="#">See More</a>
            </div>
            <div class="shortcut-links">
                <p>Your Shortcuts</p>
                <a href="#"><img src="images/shortcut-1.jpg"> Web Developers</a>
                <a href="#"><img src="images/shortcut-2.jpg"> Web Design Course</a>
                <a href="#"><img src="images/shortcut-3.jpg"> Full Stack Development</a>
                <a href="#"><img src="images/shortcut-4.jpg"> Website Experts</a>
            </div>
        </div>
        
        <!-----main-content-------->
        <div class="main-content"></div>
        
        <!-----right-sidebar-------->
        <div class="right-sidebar">

            <div class="sidebar-title">
                <h4>Events</h4>
                <a href="#">See All</a>
            </div>

            <div class="event">
            <div class="left-event">
                <h3>18</h3>
                <span>March</span>
            </div>
            <div class="right-event"></div>
                <h4>Social Media <p>BGC Technohub</p>
                <a href="#">More Info</a>
            </h4>
            </div>

            <div class="event">
                <div class="left-event">
                    <h3>25</h3>
                    <span>September</span>
                </div>
                <div class="right-event"></div>
                    <h4>Mobile Marketing
                    <p>BGC Technohub</p>
                    <a href="#">More Info</a>
                </h4>
                </div>
                <div class="sidebar-ads">
                    <h4>Advertisement <a href="#">Close</a></h4>
                    <img src="images/advertisement.jpg">
                </div>
                <div class="sidebar-ads2">
                    <h4>Conversation <a href="#">Hide Chat</a></h4>    
                </div>
    
                <div class="online-list">
                    <div class="online">
                        <img src="images/member2.jpg">
                    </div>
                    <p>Angel Pre</p>    
                </div>
                <div class="online-list">
                    <div class="online">
                        <img src="images/member3.jpg">
                    </div>
                    <p>Aiza Cruz</p>    
                </div>
                <div class="online-list">
                    <div class="online">
                        <img src="images/member4.jpg">
                    </div>
                    <p>christian Santos</p>    
                </div>
            </div> 
    </div>
    
</body>
</html>